<%- include('../includes/start.ejs') %>
</head>

<body>

    <nav class="navbar navbar-expand-md sticky-top navbar-dark" style="background-color: #112D37">
        <div class="container">
            <a class="navbar-brand" style="color: white" href="/"><img src="/images/nitkLogo.png" class="img-responsive"
                    height="40px"></a>
        </div>
    </nav>
    <section class="text-center">
        <h1>
            OOPS! Page Not Found (404)
        </h1>
    </section>
    <%- include('../includes/end.ejs') %>